In [1]:
import pandas as pd 
import numpy as np

In [2]:
top_6_stocks = ["AAPL", "MSFT", "GOOGL", "AMZN", "TSLA", "NFLX"]

In [8]:
import requests
from termcolor import colored as cl
api_key = "6193152d6a5ef0.81905359"

In [9]:
import pandas as pd
news = pd.DataFrame(columns=["date", "title", "content"])
news

Empty DataFrame
Columns: [date, title, content]
Index: []

In [10]:
def get_stock_news(stock, api_key, from_date, to_date, limit=1000):
    url = f'https://eodhistoricaldata.com/api/news?api_token={api_key}&s={stock}&from={from_date}&to={to_date}&limit={limit}'
    news_json = requests.get(url).json()
    for i in range(len(news_json)):
        news.loc[i] = [news_json[i]["date"],news_json[i]["title"], news_json[i]["content"]] 
    return news

In [11]:
import pandas as pd

def get_stocks_out(stock_name, api_key):
    start_date = ["2020-11-01","2020-11-15","2020-12-01", "2020-12-15",  "2021-01-01","2021-01-15", "2021-02-01", "2021-02-15","2021-03-01","2021-03-15", "2021-04-01","2021-04-15", "2021-05-01","2021-05-15","2021-06-01" ,"2021-06-15" ,"2021-07-01","2021-07-15",  "2021-08-01","2021-08-15",  "2021-09-01","2021-09-15", "2021-10-01", "2021-10-15", "2021-11-01", "2021-11-15"]
    end_date = ["2020-11-14","2020-11-30","2020-12-14","2020-12-31",  "2021-01-14",  "2021-01-31", "2021-02-14", "2021-02-28", "2021-03-14","2021-03-31", "2021-04-14","2021-04-30","2021-05-14","2021-05-31",  "2021-06-14" ,"2021-06-30" ,"2021-07-14","2021-07-31", "2021-08-14","2021-08-31","2021-09-14","2021-09-30",  "2021-10-14","2021-10-31", "2022-11-14", "2022-12-02"]

    news = pd.DataFrame(columns=["date", "title", "content"])
    news_result = 0
    for i in range(len(start_date)):
        news = news.append(get_stock_news(stock_name, api_key,start_date[i],end_date[i],1000), ignore_index=True)
    return news

In [12]:
#get out all news by stockname
df_list = []
for stock in top_6_stocks:
    df = pd.DataFrame(get_stocks_out(stock, api_key))
    df["ticker"]= stock
    df = df.drop_duplicates()
    df_list.append(df)

In [13]:
# concat the dataframes
df_news = df_list[0].append(df_list[1])
df_news = df_news.append(df_list[2])
df_news = df_news.append(df_list[3])
df_news = df_news.append(df_list[4])
df_news = df_news.append(df_list[5])
len(df_news)

32184

In [14]:
len(df_news)

32184

In [27]:
df_news["day"] = pd.to_datetime(df_news["date"]).dt.date

In [28]:
df_news

,date,title,content,ticker,day
0,2020-11-10T20:35:50+00:00,Stocks mixed as tech sell-off continues,"Steve Sosnick, Interactive Brokers Chief Strat...",AAPL,2020-11-10
1,2020-11-13T14:00:00+00:00,LinkedIn Co-founder: the number of ‘tech giant...,LinkedIn Co-founder Reid Hoffman joins 'Influe...,AAPL,2020-11-13
2,2020-11-09T09:15:52+00:00,Apple Freezes New Business for Pegatron on Chi...,(Bloomberg) -- Apple Inc. suspended new busine...,AAPL,2020-11-09
3,2020-11-03T01:17:24+00:00,Apple to Launch MacBooks With Own Chips Next Week,(Bloomberg) -- Apple Inc.’s 15-year relationsh...,AAPL,2020-11-03
4,2020-11-11T16:18:37+00:00,Alibaba Singles’ Day Ends Strongly as Beijing ...,(Bloomberg) -- Alibaba Group Holding Ltd. post...,AAPL,2020-11-11
...,...,...,...,...,...
24150,2021-11-30T20:05:56+00:00,Triller’s Ryan Kavanaugh Shakes Up the Fight G...,By Exec Edge Editorial Staff\n\nWhen Ryan Kava...,NFLX,2021-11-30
24151,2021-12-01T11:40:00+00:00,2 Stocks to Buy If You Are Worried About the N...,The variant in question is called omicron. At ...,NFLX,2021-12-01
24153,2021-12-01T16:27:00+00:00,Salesforce Joins the List of Companies With Tw...,"A brief summary of how companies like Netflix,...",NFLX,2021-12-01
24154,2021-12-01T21:20:06+00:00,Netflix makes good on pledge to put 2% of its ...,“More capital moving into these institutions m...,NFLX,2021-12-01
24155,2021-12-01T14:06:02+00:00,Comcast (CMCSA) Disney Renews Content Carriage...,Comcast CMCSA and The Walt Disney DIS recently...,NFLX,2021-12-01

In [29]:
#save the result in a csv file
df_news.to_csv("stock_news_top_6_stocks", index=False)

In [30]:
df_new = pd.read_csv("stock_news_top_6_stocks")

In [32]:
df_new.day.max()

'2021-12-02'