In [1]:
#This work only on jupyter in your machine and not googlecolab
#before start start jupyter load your credential on the terminal
#e.g
#!export GOOGLE_APPLICATION_CREDENTIALS='/home/freddo/code/freddo1503/gcp/json_file.json'

In [215]:
import pandas as pd
import numpy as np
import os
import pymysql
import datetime as dt
from google.cloud import storage

In [ ]:
def upload_news_sentiment(df):
    """Function to upload the sentiment news prediction \
        in the database\
        in predictionmodel table\
        in the tweet_api_sentiment column""" 
    #connect to the dB
    connection = connect_to_db()
    cursor = connection.cursor()

    #transform the DataFrame in a list of list
    news_list = list(df[['news_sentiment','date', 'ticker']].values)
    news_list = np.array(news_list)
    news_list = news_list.tolist()

    for news_sentiment, date, ticker in news_list:
        try:
            #If the prediction does not yet exist, it is inserted into the database,
            #otherwise it is updated
            sql = """INSERT INTO prediction (news_api_sentiment, `date`, ticker) \
                    VALUES (%s, %s, %s)"""
            #Values you want to insert
            values = (news_sentiment, date, ticker)
            cursor.execute(sql, values)
            connection.commit()

        except pymysql.Error as err:
            if err.args[0] == 1062:
                print('Duplicate entry, updating the values')
                #SQL query
                sql = """UPDATE prediction SET news_api_sentiment=%s WHERE `date`=%s AND ticker=%s"""
                #Values you want to insert
                values = (news_sentiment, date, ticker)
                cursor.execute(sql, values)
                connection.commit()

In [3]:
def implicit():
    from google.cloud import storage

    # If you don't specify credentials when constructing the client, the
    # client library will look for credentials in the environment.
    storage_client = storage.Client()

    # Make an authenticated API request
    buckets = list(storage_client.list_buckets())
    print(buckets)

In [4]:
def get_data_from_gcp(path, nrows=10000, local=False, optimize=False, **kwargs):
    """method to get the training data (or a portion of it) from google cloud bucket"""
    # Add Client() here
    client = storage.Client()
    df = pd.read_csv(path)#add nrows after if you want to select a specific number of row
    return df

In [5]:
def list_blobs(bucket_name):
    """Lists all the blobs in the bucket."""
    # bucket_name = "your-bucket-name"

    storage_client = storage.Client()

    # Note: Client.list_blobs requires at least package version 1.17.0.
    blobs = storage_client.list_blobs(bucket_name)

    for blob in blobs:
        print(blob.name)

In [6]:
#List all your bucket

In [7]:
implicit()

[<Bucket: artifacts.stock-news-pred.appspot.com>, <Bucket: stock-news-pred-bucket>, <Bucket: stock-news-pred_cloudbuild>]

In [8]:
#List all the files in your bucket

In [114]:
list_blobs('stock-news-pred-bucket')

Amazon1 twitter_stocks_sentiment.csv
For Database Extraction/
For Database Extraction/Amazon Database.csv
For Database Extraction/Google Database.csv
For Database Extraction/Microsoft Database.csv
For Database Extraction/Netflix Database.csv
For Database Extraction/Stock_news _for_Database.csv
Google1 twitter_stocks_sentiment.csv
Microsoft1 twitter_stocks_sentiment.csv
Netflix1 twitter_stocks_sentiment.csv
Stock predictions without NLP/
Stock predictions without NLP/aapl_predictions.csv
Stock predictions without NLP/amzn_predictions.csv
Stock predictions without NLP/googl_predictions.csv
Stock predictions without NLP/msft_predictions.csv
Stocks_news_final_to_use.csv
Tw_mentions_last_year_daily_stocks.csv
amazon_stock_price.csv
clean_data_2features.csv
final_stocks_sentiment_21221.csv
old/
prediction_data_011221/
prediction_data_011221/LSTM_3features_AAPL
prediction_data_011221/LSTM_3features_AMZN
prediction_data_011221/LSTM_3features_GOOGL
prediction_data_011221/LSTM_3features_MSFT
sorted_final_stock_prices
stock_news_top_6_stocks
stock_prices
updated_stock_prices

In [10]:
#get the data from the csv you want to update

# Updating LSTM_3features_AAPL

In [179]:
LSTM_3features_AAPL = get_data_from_gcp('gs://stock-news-pred-bucket/prediction_data_011221/LSTM_3features_AAPL')

In [180]:
LSTM_3features_AAPL.head()

   Unnamed: 0        date    AAPL  predictions ticker
0        5285  2020-11-02  108.77    151.61069   AAPL
1        5286  2020-11-03  110.44    140.59087   AAPL
2        5290  2020-11-09  116.32    137.05025   AAPL
3        5291  2020-11-10  115.97    137.73227   AAPL
4        5292  2020-11-11  119.49    137.61299   AAPL

In [181]:
LSTM_3features_AAPL_list = list(LSTM_3features_AAPL[['date','predictions']].values)
LSTM_3features_AAPL_list = np.array(LSTM_3features_AAPL_list)
LSTM_3features_AAPL_list = LSTM_3features_AAPL_list.tolist()

In [182]:
LSTM_3features_AAPL_list[0]

['2020-11-02', 151.61069]

In [315]:
connection = pymysql.connect(host='34.159.115.175',
                             user='freddo',
                             password='batch-735-berlin',
                             db='db-stock-news-pred')

In [316]:
cursor = connection.cursor()

In [185]:
INSERT INTO `db-stock-news-pred`.prediction
(`date`, tweet_api_sentiment, news_api_sentiment, stock_api_pred, next_day_pred, ticker)
VALUES('', '', '', '', '', '');

SyntaxError: invalid syntax (1512223409.py, line 1)

In [186]:
%%time
for i,j in LSTM_3features_AAPL_list:
    sql ="""INSERT INTO prediction (next_day_pred, ticker, `date`) \
            VALUES (%s , 'AAPL', %s)"""
    values = (j,i)
    cursor.execute(sql, values)

    # the connection is not autocommitted by default, so we must commit to save our changes
    connection.commit()

CPU times: user 140 ms, sys: 70.8 ms, total: 211 ms
Wall time: 20.4 s

# Updating LSTM_3features_AMZN

In [187]:
LSTM_3features_AMZN = get_data_from_gcp('gs://stock-news-pred-bucket/prediction_data_011221/LSTM_3features_AMZN')

In [188]:
LSTM_3features_AMZN.head()

   Unnamed: 0        date      AMZN  predictions ticker
0        5285  2020-11-02  3004.480    3324.1418   AMZN
1        5288  2020-11-05  3322.000    3392.2160   AMZN
2        5289  2020-11-06  3311.370    3139.0823   AMZN
3        5558  2020-11-07  3227.555    3166.2107   AMZN
4        5290  2020-11-09  3143.740    3218.3809   AMZN

In [189]:
LSTM_3features_AMZN_list = list(LSTM_3features_AMZN[['date','predictions']].values)
LSTM_3features_AMZN_list = np.array(LSTM_3features_AMZN_list)
LSTM_3features_AMZN_list = LSTM_3features_AMZN_list.tolist()

In [190]:
LSTM_3features_AMZN_list[0]

['2020-11-02', 3324.1418]

In [191]:
for date, prediction in LSTM_3features_AMZN_list:
        try:
            #If the prediction does not yet exist, it is inserted into the database,
            #otherwise it is updated
            sql = """INSERT INTO prediction (next_day_pred, ticker, `date`) \
                        VALUES (%s , %s, %s)"""
            #Values you want to insert
            values = (prediction, 'AMZN', date)
            cursor.execute(sql, values)
            connection.commit()

        except pymysql.Error as err:
            if err.args[0] == 1062:
                print('Duplicate entry, updating the values')
                #SQL query
                sql = """UPDATE prediction SET next_day_pred=%s WHERE `date`=%s AND ticker=%s"""
                #Values you want to insert
                values = (prediction, date, 'AMZN')
                cursor.execute(sql, values)
                connection.commit()

# Updating LSTM_3features_GOOGL

In [192]:
LSTM_3features_GOOGL = get_data_from_gcp('gs://stock-news-pred-bucket/prediction_data_011221/LSTM_3features_GOOGL')

In [193]:
LSTM_3features_GOOGL.head()

   Unnamed: 0        date    GOOGL  predictions ticker
0        5285  2020-11-02  1624.32    2234.8940  GOOGL
1        5286  2020-11-03  1645.66    2468.7524  GOOGL
2        5289  2020-11-06  1759.73    2482.5650  GOOGL
3        5290  2020-11-09  1761.42    1951.4469  GOOGL
4        5293  2020-11-12  1742.82    2540.8920  GOOGL

In [194]:
LSTM_3features_GOOGL_list = list(LSTM_3features_GOOGL[['date','predictions']].values)
LSTM_3features_GOOGL_list = np.array(LSTM_3features_GOOGL_list)
LSTM_3features_GOOGL_list = LSTM_3features_GOOGL_list.tolist()

In [195]:
LSTM_3features_GOOGL_list[0]

['2020-11-02', 2234.894]

In [196]:
%%time
for date, prediction in LSTM_3features_GOOGL_list:
        try:
            #If the prediction does not yet exist, it is inserted into the database,
            #otherwise it is updated
            sql = """INSERT INTO prediction (next_day_pred, ticker, `date`) \
                        VALUES (%s , %s, %s)"""
            #Values you want to insert
            values = (prediction, 'GOOGL', date)
            cursor.execute(sql, values)
            connection.commit()

        except pymysql.Error as err:
            if err.args[0] == 1062:
                print('Duplicate entry, updating the values')
                #SQL query
                sql = """UPDATE prediction SET next_day_pred=%s WHERE `date`=%s AND ticker=%s"""
                #Values you want to insert
                values = (prediction, date, 'GOOGL')
                cursor.execute(sql, values)
                connection.commit()

CPU times: user 150 ms, sys: 51.1 ms, total: 202 ms
Wall time: 19.9 s

# Updating LSTM_3features_MSFT

In [203]:
LSTM_3features_MSFT = get_data_from_gcp('gs://stock-news-pred-bucket/prediction_data_011221/LSTM_3features_MSFT')

    Unnamed: 0        date    MSFT  predictions ticker
0         5285  2020-11-02  202.33    285.40120   MSFT
1         5289  2020-11-06  223.72    247.37758   MSFT
2         5290  2020-11-09  218.39    243.68030   MSFT
3         5293  2020-11-12  215.44    257.07150   MSFT
4         5294  2020-11-13  216.51    244.01654   MSFT
..         ...         ...     ...          ...    ...
95        5575  2021-04-02  244.03    243.88356   MSFT
96        5576  2021-04-03  245.71    286.87698   MSFT
97        5577  2021-04-04  247.39    246.88603   MSFT
98        5389  2021-04-05  249.07    236.81590   MSFT
99        5390  2021-04-06  247.86    283.74387   MSFT

[100 rows x 5 columns]

In [199]:
LSTM_3features_MSFT_list = list(LSTM_3features_MSFT[['date','predictions']].values)
LSTM_3features_MSFT_list = np.array(LSTM_3features_MSFT_list)
LSTM_3features_MSFT_list = LSTM_3features_MSFT_list.tolist()

In [200]:
LSTM_3features_MSFT_list[0]

['2020-11-02', 285.4012]

In [201]:
%%time
for date, prediction in LSTM_3features_MSFT_list:
        try:
            #If the prediction does not yet exist, it is inserted into the database,
            #otherwise it is updated
            sql = """INSERT INTO prediction (next_day_pred, ticker, `date`) \
                        VALUES (%s , %s, %s)"""
            #Values you want to insert
            values = (prediction, 'MSFT', date)
            cursor.execute(sql, values)
            connection.commit()

        except pymysql.Error as err:
            if err.args[0] == 1062:
                print('Duplicate entry, updating the values')
                #SQL query
                sql = """UPDATE prediction SET next_day_pred=%s WHERE `date`=%s AND ticker=%s"""
                #Values you want to insert
                values = (prediction, date, 'MSFT')
                cursor.execute(sql, values)
                connection.commit()

CPU times: user 116 ms, sys: 81.7 ms, total: 198 ms
Wall time: 19.3 s

# Updating sorted_final_stock_prices

In [108]:
sorted_final_stock_prices = get_data_from_gcp('gs://stock-news-pred-bucket/sorted_final_stock_prices')

In [109]:
sorted_final_stock_prices=sorted_final_stock_prices.fillna(0)

In [110]:
sorted_final_stock_prices.tail()

            date    AAPL    MSFT    GOOGL     AMZN
5553  2021-11-24  161.94  337.91  2922.40  3580.41
5554  2021-11-26  156.81  329.68  2843.66  3504.56
5555  2021-11-29  160.24  336.63  2910.61  3561.57
5556  2021-11-30  165.30  330.59  2837.95  3507.07
5557  2021-12-01  164.77  330.08  2821.03  3443.72

In [111]:
sorted_final_stock_prices = sorted_final_stock_prices.tail(50)
AAPL_prices = list(sorted_final_stock_prices[['date', 'AMZN']].values)
AAPL_prices = np.array(AAPL_prices)
AAPL_prices = AAPL_prices.tolist()

In [112]:
AAPL_prices[0]

['2021-09-22', 3380.05]

In [113]:
%%time
for date, AMZN in AAPL_prices:
    try:
        #If the prediction does not yet exist, it is inserted into the database,
        #otherwise it is updated
        sql = """INSERT INTO stocksprice (`date`, ticker, stock_price) \
                    VALUES (%s , %s, %s)"""
        #Values you want to insert
        values = (date, 'AMZN', AMZN)
        cursor.execute(sql, values)
        connection.commit()

    except pymysql.Error as err:
            print('Duplicate entry, updating the values')
            #SQL query
            sql = """UPDATE stocksprice SET stock_price=%s WHERE `date`=%s AND ticker=%s"""
            #Values you want to insert
            values = (AMZN, date, 'AMZN')
            cursor.execute(sql, values)
            connection.commit()

Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
Duplicate entry, updating the values
CPU times: user 94.7 ms, sys: 4.23 ms, total: 98.9 ms
Wall time: 3.47 s

# Updating stock_news_top_6_stocks_

In [202]:
list_blobs('stock-news-pred-bucket')

Amazon1 twitter_stocks_sentiment.csv
For Database Extraction/
For Database Extraction/Amazon Database.csv
For Database Extraction/Google Database.csv
For Database Extraction/Microsoft Database.csv
For Database Extraction/Netflix Database.csv
For Database Extraction/Stock_news _for_Database.csv
Google1 twitter_stocks_sentiment.csv
Microsoft1 twitter_stocks_sentiment.csv
Netflix1 twitter_stocks_sentiment.csv
Stock predictions without NLP/
Stock predictions without NLP/aapl_predictions.csv
Stock predictions without NLP/amzn_predictions.csv
Stock predictions without NLP/googl_predictions.csv
Stock predictions without NLP/msft_predictions.csv
Tw_mentions_last_year_daily_stocks.csv
amazon_stock_price.csv
clean_data_2features.csv
final_stocks_sentiment_21221.csv
old/
prediction_data_011221/
prediction_data_011221/LSTM_3features_AAPL
prediction_data_011221/LSTM_3features_AMZN
prediction_data_011221/LSTM_3features_GOOGL
prediction_data_011221/LSTM_3features_MSFT
sorted_final_stock_prices
stock_news_top_6_stocks
stock_news_top_6_stocks_
stock_prices
updated_stock_prices

In [170]:
stock_news_top_6_stocks_ = get_data_from_gcp('gs://stock-news-pred-bucket/stock_news_top_6_stocks_')

In [171]:
stock_news_top_6_stocks_=stock_news_top_6_stocks_.fillna(0)

In [172]:
stock_news_top_6_stocks_.tail()

,date,title,content,ticker,day
32179,2021-11-30T20:05:56+00:00,Triller’s Ryan Kavanaugh Shakes Up the Fight G...,By Exec Edge Editorial Staff\n\nWhen Ryan Kava...,NFLX,2021-11-30
32180,2021-12-01T11:40:00+00:00,2 Stocks to Buy If You Are Worried About the N...,The variant in question is called omicron. At ...,NFLX,2021-12-01
32181,2021-12-01T16:27:00+00:00,Salesforce Joins the List of Companies With Tw...,"A brief summary of how companies like Netflix,...",NFLX,2021-12-01
32182,2021-12-01T21:20:06+00:00,Netflix makes good on pledge to put 2% of its ...,“More capital moving into these institutions m...,NFLX,2021-12-01
32183,2021-12-01T14:06:02+00:00,Comcast (CMCSA) Disney Renews Content Carriage...,Comcast CMCSA and The Walt Disney DIS recently...,NFLX,2021-12-01

In [173]:
stock_news_top_6_stocks_ = stock_news_top_6_stocks_[['day', 'title', 'content', 'ticker']]
stock_news_top_6_stocks_.sort_values(by='day', ascending=True, inplace=True)

In [174]:
stock_news_top_6_stocks_ = stock_news_top_6_stocks_.tail(1000)

In [176]:
stock_news_top_6_stocks_.head()

,day,title,content,ticker
5772,2021-11-26,Apple global battery development chief moves t...,SAN FRANCISCO (Reuters) - Apple's global batte...,AAPL
10028,2021-11-26,"9 of the best Apple deals happening now, inclu...","From Apple Airpods to MacBooks to iPads, here ...",GOOGL
29868,2021-11-26,Tesla withdrew state funding application for G...,BERLIN (Reuters) -Tesla has withdrawn its appl...,NFLX
29366,2021-11-26,Tesla Drops as Musk’s Sale of Shares Crosses H...,By Dhirendra Tripathi\n\nInvesting.com – Tesla...,TSLA
29367,2021-11-26,Dow Jones Futures Dive 800 Points On New Covid...,Dow Jones futures dived 800 points Friday morn...,TSLA

In [162]:
stock_news_top_6_stocks__list = list(stock_news_top_6_stocks_.values)
stock_news_top_6_stocks__list = np.array(stock_news_top_6_stocks__list)
stock_news_top_6_stocks__list = stock_news_top_6_stocks__list.tolist()

In [163]:
stock_news_top_6_stocks__list[0]

['2021-12-01',
 'Why Tesla Stock Popped, Then Dropped Today',
 'Shares of Tesla (NASDAQ: TSLA) raced out of the gate Wednesday morning, climbing 2.3% in the first couple minutes of trading before beginning to fall back. Tesla\'s first big pop seems to have been sparked by a bit of corporate theater. In an apparent poke at the phenomenon of whistleblowers trying to embarrass their bosses, Elon Musk tweeted last night that Tesla is now selling a "limited-edition Cyberwhistle" shaped like its still-unavailable Cybertruck.',
 'NFLX']

In [165]:
%%time
for day, title, content, ticker in stock_news_top_6_stocks__list:
    try:
        #If the prediction does not yet exist, it is inserted into the database,
        #otherwise it is updated
        sql = """INSERT INTO news (`date`, ticker, title, content) \
                    VALUES (%s , %s, %s, %s)"""
        #Values you want to insert
        values = (day, ticker, title, content)
        cursor.execute(sql, values)
        connection.commit()

    except pymysql.Error as err:
            print('Duplicate entry, updating the values')
            #SQL query
            sql = """UPDATE news SET title=%s , content=%s WHERE `date`=%s AND ticker=%s"""
            #Values you want to insert
            values = (day, ticker, title, content)
            cursor.execute(sql, values)
            connection.commit()

CPU times: user 72.9 ms, sys: 0 ns, total: 72.9 ms
Wall time: 5.58 s

# Updating Tweet
For Database Extraction/Amazon Database.csv

For Database Extraction/Google Database.csv

For Database Extraction/Microsoft Database.csv

For Database Extraction/Netflix Database.csv

In [299]:
googl_tweet = get_data_from_gcp('gs://stock-news-pred-bucket/For Database Extraction/Netflix Database.csv')

In [300]:
googl_tweet['date'] = googl_tweet['date'].str.slice(0,10)

In [301]:
googl_tweet

,Unnamed: 0,date,title,sentiment
0,0,2021-11-25,Netflix Inc $NFLX is trending on both Twitter ...,[NEGATIVE (0.9904)]
1,1,2021-11-25,Stock: $NFLX - Netflix *** NEWS *** Thanksgivi...,[POSITIVE (0.987)]
2,2,2021-11-25,"$NFLX ~For a limited time, we are opening our ...",[POSITIVE (0.9183)]
3,3,2021-11-25,"stockomAngtrades: 2nd mistake, which I fixed t...",[NEGATIVE (0.9994)]
4,4,2021-11-25,"$NFLX in -3.65% Downtrend, falling for three c...",[NEGATIVE (1.0)]
...,...,...,...,...
4452,4452,2020-11-27,$NFLX in Uptrend: price may ascend as a result...,[NEGATIVE (0.9907)]
4453,4453,2020-11-27,"$NFLX, $VEEV and $OLLI are selected by our sto...",[NEGATIVE (0.8455)]
4454,4454,2020-11-26,$KXIN stock of the day with 547% squeeze and 3...,[NEGATIVE (0.7232)]
4455,4455,2020-11-26,"$NFLX company , and Analysis Score Update (F...",[POSITIVE (0.621)]
4456,4456,2020-11-26,$NFLX in Uptrend: price may ascend as a result...,[NEGATIVE (0.995)]

In [302]:
googl_tweet=googl_tweet[['date', 'title', 'sentiment']]

In [303]:
googl_tweet=googl_tweet.fillna(0)

In [304]:
amzn_tweet_list = list(googl_tweet.values)
amzn_tweet_list = np.array(amzn_tweet_list)
amzn_tweet_list = amzn_tweet_list.tolist()

In [305]:
amzn_tweet_list[0]

['2021-11-25',
 'Netflix Inc $NFLX is trending on both Twitter and Reddit  ',
 '[NEGATIVE (0.9904)]']

In [306]:
%%time
for date, tweet, sentiment in amzn_tweet_list:
    try:
        #If the prediction does not yet exist, it is inserted into the database,
        #otherwise it is updated
        sql = """INSERT INTO tweets (`date`, ticker, tweet, sentiment) \
                    VALUES (%s , %s, %s, %s)"""
        #Values you want to insert
        values = (date, 'NFLX', tweet, sentiment)
        cursor.execute(sql, values)
        connection.commit()
        
    except pymysql.Error as err:
            print('Duplicate entry, updating the values')
            #SQL query
            sql = """UPDATE tweets SET tweet=%s , sentiment=%s WHERE `date`=%s AND ticker=%s"""
            #Values you want to insert
            values = (tweet, sentiment, date, 'NFLX')
            cursor.execute(sql, values)
            connection.commit()

CPU times: user 2.04 s, sys: 304 ms, total: 2.34 s
Wall time: 4min 5s

# final_stocks_sentiment_21221.csv

In [310]:
googl_tweet = get_data_from_gcp('gs://stock-news-pred-bucket/final_stocks_sentiment_21221.csv')

In [311]:
googl_tweet

            date ticker  news_label
0     2020-11-02   AAPL    0.000000
1     2020-11-02   AMZN    0.000000
2     2020-11-02  GOOGL    0.000000
3     2020-11-02   MSFT    0.333333
4     2020-11-02   TSLA    1.000000
...          ...    ...         ...
2049  2021-12-02   AMZN    0.125000
2050  2021-12-02  GOOGL    0.142857
2051  2021-12-02   MSFT    0.166667
2052  2021-12-02   NFLX    1.000000
2053  2021-12-02   TSLA    0.666667

[2054 rows x 3 columns]

In [312]:
googl_tweet=googl_tweet.fillna(0)
amzn_tweet_list = list(googl_tweet.values)
amzn_tweet_list = np.array(amzn_tweet_list)
amzn_tweet_list = amzn_tweet_list.tolist()

In [320]:
amzn_tweet_list[4]

['2020-11-02', 'TSLA', 1.0]

In [317]:
%%time
for date, ticker, sentiment in amzn_tweet_list:
    #SQL query
    sql = """UPDATE news SET sentiment=%s WHERE `date`=%s AND ticker=%s"""
    #Values you want to insert
    values = (sentiment, date, ticker)
    cursor.execute(sql, values)
    connection.commit()

CPU times: user 805 ms, sys: 225 ms, total: 1.03 s
Wall time: 2min 28s