In [ ]:
import pandas as pd
import numpy as np

from google.colab import files
files.upload()

In [ ]:
df = pd.read_csv("Tesla1.csv")

In [ ]:
df

       Unnamed: 0  ...                                               text
0               0  ...  i will be business as usual till near dec9 and...
1               1  ...  What he nuked and cut off can be seen here: 19...
2               2  ...  $TSLA trade idea cont (3) - max profit of pin ...
3               3  ...  $TSLA trade idea.. assumptions - that stock sp...
4               4  ...  so you think $TSLA stock is splitting on 9Dec ...
...           ...  ...                                                ...
29441       29441  ...  $TSLA - Paul Tudor Jones likes Bitcoin because...
29442       29442  ...  $SONY Sony stock will surpass $DIS Disney stoc...
29443       29443  ...  W Musk chiming in yet again on $btc and transp...
29444       29444  ...  Pump that stock, Grifter. This statement from ...
29445       29445  ...  RT @latokens: STSL is live and trading on $USD...

[29446 rows x 3 columns]

In [ ]:
pip install unidecode

Requirement already satisfied: unidecode in /usr/local/lib/python3.7/dist-packages (1.3.2)

In [ ]:
import re
import unidecode
def cleanTwt(twt):
  
    twt = str(twt)
    twt = unidecode.unidecode(twt)
    twt = re.sub('@\S', 'stock', twt)
    twt = re.sub('#Stocks', 'Stock', twt)
    twt = re.sub('#[A-Za-z0-9]+', '', twt)
    twt = re.sub('\\n', ' ' , twt)
    twt = re.sub('https?:\S+', ' ',twt )
    twt = re.sub('/W','', twt )
    twt = re.sub('\>','', twt )
    twt = re.sub(r'RT[\s]+','', twt )

    return twt

In [ ]:
df['cleaned_tweets'] = df['text'].apply(cleanTwt)

In [ ]:
df

       Unnamed: 0  ...                                     cleaned_tweets
0               0  ...  i will be business as usual till near dec9 and...
1               1  ...  What he nuked and cut off can be seen here: 19...
2               2  ...  $TSLA trade idea cont (3) - max profit of pin ...
3               3  ...  $TSLA trade idea.. assumptions - that stock sp...
4               4  ...  so you think $TSLA stock is splitting on 9Dec ...
...           ...  ...                                                ...
29441       29441  ...  $TSLA - Paul Tudor Jones likes Bitcoin because...
29442       29442  ...  $SONY Sony stock will surpass $DIS Disney stoc...
29443       29443  ...  W Musk chiming in yet again on $btc and transp...
29444       29444  ...  Pump that stock, Grifter. This statement from ...
29445       29445  ...  stockatokens: STSL is live and trading on $USD...

[29446 rows x 4 columns]

In [ ]:
#first install pretrained sentiment analyzer flair
!pip install flair

In [ ]:
# !pip install requests~=2.23.0 
# !pip install datascience 0.10.6
# !pip install folium==0.2.1

In [ ]:
from flair.models import TextClassifier
from flair.data import Sentence
classifier = TextClassifier.load('en-sentiment')

2021-11-30 12:01:01,959 loading file /root/.flair/models/sentiment-en-mix-distillbert_4.pt

In [ ]:
def classify_sentence(X):
    sentence = Sentence(X)
    classifier.predict(sentence)
    return sentence.labels

In [ ]:
df["sentiment"]=df["text"].apply(classify_sentence)

In [ ]:
df

       Unnamed: 0  ...            sentiment
0               0  ...  [NEGATIVE (0.9959)]
1               1  ...     [NEGATIVE (1.0)]
2               2  ...  [NEGATIVE (0.9937)]
3               3  ...     [NEGATIVE (1.0)]
4               4  ...     [NEGATIVE (1.0)]
...           ...  ...                  ...
29441       29441  ...  [POSITIVE (0.6468)]
29442       29442  ...  [NEGATIVE (0.8615)]
29443       29443  ...  [NEGATIVE (0.9985)]
29444       29444  ...  [POSITIVE (0.7063)]
29445       29445  ...  [NEGATIVE (0.7992)]

[29446 rows x 5 columns]

In [ ]:
df.to_csv("Tesla sentiment_final.csv")